<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 mt-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button class="btn btn-dark btn-sm">Login</button>
        </form>
        <div class="form-group mt-3">
          <p> Don't have an account? Register <a routerLink="/register">Here</a> or <span><button
            class="btn btn-dark btn-sm" (click)="onClick()">Login With Google</button></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
